<% if @remittance_centers.any? %>
  <ul class="grid grid-cols-1">
    <% @remittance_centers.each do |center| %>
      <hr class="border-gray-300">
      <li class="flex flex-col justify-between p-6 bg-white">
        <div>
          <strong class="text-base text-gray-800"><%= center.name %></strong><br>
          <span class="text-sm text-gray-600"><%= center.address %></span><br>
        </div>

        <div class="flex mt-4 gap-6">
          <% if center.latitude.present? && center.longitude.present? %>
            <%= link_to "View on Google Maps", 
                        "https://www.google.com/maps/search/?api=1&query=#{center.latitude},#{center.longitude}", 
                        target: "_blank", 
                        class: "inline-block text-gray-600 rounded hover:text-blue-600 text-sm" %>
          <% else %>
            <span class="text-yellow-600 text-sm">Coordinates not available</span>
          <% end %>
        </div>
      </li>
      
    <% end %>
  </ul>
<% else %>
  <p class="text-gray-600 text-center sm:text-left">
    <%= render "remittance_centers/nil_remittance_centers" %>
  </p>
<% end %>