

<div>
  <%= render "layouts/sidebar" %>
</div>

<div class="flex-1 p-10 lg:ml-64 min-h-dvh">
  <h1>Index page of currency converter</h1>
  <p>Find me in app/views/dashboard/index.html.erb</p>
</div>
