<div class="flex flex-col items-center justify-center content-center w-full h-full p-10 border rounded-bl-md rounded-br-md shadow-sm">
  <!-- Folder icon -->
  <div class="mb-4 text-gray-500">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-icon lucide-map-pin lg:h-14 lg:w-14 h-10 w-10 text-gray-500"><path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"/><circle cx="12" cy="10" r="3"/></svg>
  </div>

  <!-- Main content -->
  <div class="text-center">
    <h1 class="font-semibold text-gray-800 mb-2 text-base">No saved remittance centers.</h1>
    <p class="text-gray-500 mb-6 text-base">Get started by adding nearby remittance centers.</p>
    
    <!-- New Project button -->
    <%= link_to places_path, class: "inline-flex items-center gap-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 text-base" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
      Remittance Centers
    <% end %>
  </div>
</div>